#loading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    #preloader{
        width: 10rem;
    }
    p{
        font-size: 2rem;
    }
}