#mainGame {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    position: relative;

    #monitor {
        position: relative;
        background-size: contain;
        border: 1px solid black;
        width: 50vw;
        height: 50vh;
        border-radius: 15px;
        box-shadow: 5px 5px 10px black;
        overflow: hidden;





        #presentation{
            background-image: url(../media/img/presentationBackground.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
        }
        #runGame{
            position: absolute;
            bottom: 1rem;
            right: 40%;
            width: 10rem;
            height: 3rem;
            border-radius: 5px;
            box-shadow: black 1px 1px;
            background:  linear-gradient(to right, #56ab2f, #a8e063);
            font-weight: 1000;
            letter-spacing:3px;
        }
            
        }

}