#divButt{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .actionButton {
        width: 10rem;
        height: 3rem;
        margin: 0.5rem;
        border-radius: 5px;
        font-weight: bolder;
        box-shadow: 1px 1px 3px black;
        letter-spacing: 5px;
    }

    #modalReset-cerrar {
        background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
        margin: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;

    }

    #modalReset-cerrar:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    #resetGame {
        background-image: linear-gradient(to right, #3de527 0%, #2db312 51%, #27e527 100%);
        margin: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;

    }

    #resetGame:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

}