#rules {
    position: absolute;
    z-index: 11;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: 1000;
    color: yellow;
    -webkit-text-stroke: 0.1px #3e3ead;
    font-size: 2rem;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7))
}

#rules:hover {
    transform: scale(1.5, 1.5);
}

.modal-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;

    transition: all 0.3s ease-in;
    z-index: 10000000;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 600px;

    border-radius: 5px;
    text-align: left;
    padding: 22px;
    border: black solid 5px;
    font-size: 1.2rem;
    

    p {
        color: white;
        a{
            color: yellow;
        };
        
    }

    ul {
        color: white;
        list-style-image: url("../media/img/pokeballList.png");
        margin: 0.8rem auto 0.8rem auto;
        li{
            margin: 5px auto 5px auto
        }
    }

    #modal-cerrar {
        background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%)
    }

    #modal-cerrar {
        margin: auto;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 10px #eee;
        border-radius: 10px;
        display: block;
        margin-top: 1rem;
    }

    #modal-cerrar:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

}
span.injured{
    color: black;
    background-color: rgb(255, 255, 0);
    border: white solid 1px;
    border-radius: 5px;
}

span.ko{
    color: blac;
    background-color: red;
    border: white solid 1px;
    border-radius: 5px;
}