
.fireType {
    border: 1px solid black;
    background-color: rgb(223, 89, 0);
    width: 5rem;
    border-radius: 5px;

}
.grassType {
    border: 1px solid black;
    background-color: rgb(39, 223, 39);
    width: 5rem;
    border-radius: 5px;

}
.iceType {
    border: 1px solid black;
    background-color: #96d8d6;
    width: 5rem;
    border-radius: 5px;

}
.waterType {
    border: 1px solid black;
    background-color: rgb(0, 174, 255);
    width: 5rem;
    border-radius: 5px;

}
.bugType {
    border: 1px solid black;
    background-color: #a7b723;
    width: 5rem;
    border-radius: 5px;

}
.poisonType {
    border: 1px solid black;
    background-color: #ad39a6;
    width: 5rem;
    border-radius: 5px;

}
.electricType {
    border: 1px solid black;
    background-color: rgb(255, 230, 0);
    width: 5rem;
    border-radius: 5px;

}
.groundType {
    border: 1px solid black;
    background-color: #715746;
    width: 5rem;
    border-radius: 5px;

}
.rockType {
    border: 1px solid black;
    background-color: rgb(102, 63, 32);
    width: 5rem;
    border-radius: 5px;

}
.fairyType {
    border: 1px solid black;
    background-color: rgb(246, 143, 250);
    width: 5rem;
    border-radius: 5px;

}
.normalType {
    border: 1px solid black;
    background-color:#a5aa74;
    width: 5rem;
    border-radius: 5px;

}
.flyingType {
    border: 1px solid black;
    background-color: rgb(198, 168, 247);
    width: 5rem;
    border-radius: 5px;

}
.psychicType {
    border: 1px solid black;
    background-color: rgb(250, 62, 250);
    width: 5rem;
    border-radius: 5px;

}
.dragonType {
    border: 1px solid black;
    background-color: #7737fd;
    width: 5rem;
    border-radius: 5px;

}
.rockType {
    border: 1px solid black;
    background-color: #715746;
    width: 5rem;
    border-radius: 5px;

}
.fightingType {
    border: 1px solid black;
    background-color: #bc3225;
    width: 5rem;
    border-radius: 5px;

}
.ghostType {
    border: 1px solid black;
    background-color: rgb(110, 103, 138);
    width: 5rem;
    border-radius: 5px;

}
.steelType {
    border: 1px solid black;
    background-color: gray;
    width: 5rem;
    border-radius: 5px;

}
.darkType {
    border: 1px solid black;
    background-color: #715746;
    width: 5rem;
    border-radius: 5px;

}