* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;

}

body {
    background-color: black;
}


header {
    height: 10vh;
    background-color: red;
    margin-bottom: 10vh;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
}



#modales {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -2.5rem;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 1rem
}

@import 'mainGame';
@import 'pkmSelection';
@import 'types';
@import 'presentation';
@import 'characterSelection';
@import 'volume';
@import 'rules';
@import 'redes';
@import 'perdisteModal';
@import 'modalAlert';
@import 'resetAlert';
@import 'loader';
@import 'topTen'