* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: black;
}

header {
  height: 10vh;
  background-color: red;
  margin-bottom: 10vh;
}

footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

#mainGame {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  position: relative;
}

#mainGame #monitor {
  position: relative;
  background-size: contain;
  border: 1px solid black;
  width: 50vw;
  height: 50vh;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
  overflow: hidden;
}

#mainGame #monitor #volume {
  position: absolute;
  z-index: 10;
  right: -2rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 15rem;
}

#mainGame #monitor #volume div {
  margin: 0.5rem;
  margin: 1.5rem;
}

#mainGame #monitor #volume input {
  transform: rotate(90deg);
  opacity: 0.3;
}

#mainGame #monitor #volume input:hover {
  opacity: 1;
}

#mainGame #monitor #volume input[type='range'] {
  display: block;
  width: 5rem;
}

#mainGame #monitor #volume input[type='range']:focus {
  outline: none;
}

#mainGame #monitor #volume input[type='range'],
#mainGame #monitor #volume input[type='range']::-webkit-slider-runnable-track,
#mainGame #monitor #volume input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#mainGame #monitor #volume input[type=range]::-webkit-slider-thumb {
  background-color: white;
  width: 15px;
  height: 15px;
  border: 3px solid black;
  border-radius: 50%;
  margin-top: -5px;
}

#mainGame #monitor #volume input[type=range]::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
  rotate: 180deg;
}

#mainGame #monitor #volume input[type=range]::-webkit-slider-runnable-track {
  background-color: black;
  height: 3px;
  rotate: 180deg;
}

#mainGame #monitor #volume input[type=range]::-moz-range-track {
  background-color: #777;
  height: 3px;
  rotate: 180deg;
}

#mainGame #monitor #volume input[type=range]::-ms-track {
  background-color: #777;
  height: 3px;
  rotate: 180deg;
}

#mainGame #monitor #volume input[type=range]::-ms-fill-lower {
  background-color: HotPink;
}

#mainGame #monitor #volume input[type=range]::-ms-fill-upper {
  background-color: black;
}

#mainGame #monitor #volume #volButton {
  opacity: 0.3;
}

#mainGame #monitor #volume #volButton button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#mainGame #monitor #volume #volButton button img {
  width: 1rem;
}

#mainGame #monitor #volume #volButton:hover {
  opacity: 1;
}

#mainGame #monitor #game {
  width: 100%;
  height: 100%;
}

#mainGame #monitor #game #battleField {
  background-image: url(../media/img/fieldBackground.png);
  height: 68%;
  width: 100%;
  background-size: contain;
  position: relative;
}

#mainGame #monitor #game #battleField #myPokeballs {
  position: absolute;
  right: 1rem;
}

#mainGame #monitor #game #battleField #myPokeballs img {
  width: 2rem;
}

#mainGame #monitor #game #battleField #enemyPokeballs {
  position: absolute;
  left: 1rem;
}

#mainGame #monitor #game #battleField #enemyPokeballs img {
  width: 2rem;
}

#mainGame #monitor #game #battleField #myPkm {
  width: 20rem;
  position: absolute;
  bottom: 0;
  left: 10rem;
}

#mainGame #monitor #game #battleField #myPkm img {
  width: 9rem;
  height: 9rem;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  margin: -1rem;
}

#mainGame #monitor #game #battleField #enemyPkm {
  width: 20rem;
  position: absolute;
  top: 5rem;
  right: 0;
}

#mainGame #monitor #game #battleField #enemyPkm img {
  width: 13rem;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

#mainGame #monitor #game #display {
  display: flex;
  justify-content: space-around;
  height: 32%;
  width: 100%;
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  bottom: 10;
  position: absolute;
  border-top: 1px solid black;
}

#mainGame #monitor #game #display #actionButtons {
  display: flex;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 5px;
}

#mainGame #monitor #game #display #actionButtons #exitBattle {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#mainGame #monitor #game #display #actionButtons #exitBattle:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#mainGame #monitor #game #display #actionButtons #fight {
  background-image: linear-gradient(to right, #093028 0%, #237A57 51%, #093028 100%);
}

#mainGame #monitor #game #display #actionButtons #fight {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#mainGame #monitor #game #display #actionButtons #fight:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#mainGame #monitor #game #display #actionButtons #resetBattle {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
}

#mainGame #monitor #game #display #actionButtons #resetBattle {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#mainGame #monitor #game #display #actionButtons #resetBattle:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#mainGame #monitor #game #display #actionButtons #skipBattle {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
}

#mainGame #monitor #game #display #actionButtons #skipBattle {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#mainGame #monitor #game #display #actionButtons #skipBattle:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#mainGame #monitor #game #display #actionButtons .actionButton {
  width: 15rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 1px 1px 3px black;
  letter-spacing: 5px;
}

#mainGame #monitor #game #display #pkmBox {
  width: 18rem;
  overflow-y: scroll;
  text-align: center;
}

#mainGame #monitor #game #display #pkmBox button {
  width: 16rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
  background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#mainGame #monitor #game #display #pkmBox button figure {
  padding: 0.5rem;
  display: flex;
}

#mainGame #monitor #game #display #pkmBox button figure img {
  width: 3rem;
  height: 3rem;
}

#mainGame #monitor #game #display #pkmBox button figure figcaption {
  margin-left: 0.5rem;
}

#mainGame #monitor #game #display #pkmBox button figure figcaption .statusPkm {
  border: 1px solid black;
  background-color: green;
  width: 5rem;
  border-radius: 5px;
}

#mainGame #monitor #game #display #pkmBox button:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
}

#mainGame #monitor #game #display #pkmBox::-webkit-scrollbar {
  width: 7px;
}

#mainGame #monitor #game #display #pkmBox::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

#mainGame #monitor #pkmSelection {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  flex-wrap: wrap;
}

#mainGame #monitor #pkmSelection p {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 2rem;
}

#mainGame #monitor #pkmSelection #pkmList {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  width: 50%;
  height: 90%;
  overflow-y: scroll;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#mainGame #monitor #pkmSelection #pkmList ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#mainGame #monitor #pkmSelection #pkmList ol li .selectionButton {
  width: 11rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
  background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#mainGame #monitor #pkmSelection #pkmList ol li .selectionButton figure {
  padding: 0.5rem;
  display: flex;
}

#mainGame #monitor #pkmSelection #pkmList ol li .selectionButton figure img {
  width: 3rem;
  height: 3rem;
}

#mainGame #monitor #pkmSelection #pkmList ol li .selectionButton figure figcaption {
  margin-left: 0.1rem;
  font-size: 0.8rem;
  text-align: left;
}

#mainGame #monitor #pkmSelection #pkmList ol li .selectionButton figure figcaption div {
  text-align: center;
  font-weight: 1000;
}

#mainGame #monitor #pkmSelection #pkmList ol li .selectionButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
}

#mainGame #monitor #pkmSelection #pkmList::-webkit-scrollbar {
  width: 7px;
}

#mainGame #monitor #pkmSelection #pkmList::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

#mainGame #monitor #pkmSelection #selectedBox {
  width: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 33%);
}

#mainGame #monitor #pkmSelection #selectedBox #deleteNext {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainGame #monitor #pkmSelection #selectedBox #deleteNext .actionButton {
  width: 10rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 1px 1px 3px black;
  letter-spacing: 5px;
}

#mainGame #monitor #pkmSelection #selectedBox #deleteNext #deletePkm {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#mainGame #monitor #pkmSelection #selectedBox #deleteNext #deletePkm:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#mainGame #monitor #pkmSelection #selectedBox #deleteNext #toGame {
  background-image: linear-gradient(to right, #3de527 0%, #2db312 51%, #27e527 100%);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#mainGame #monitor #pkmSelection #selectedBox #deleteNext #toGame:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm {
  display: flex;
  flex-direction: column;
  top: 3rem;
  left: 2rem;
  width: 25rem;
  height: 16rem;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  border-radius: 10px;
  border: 1px solid black;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm ol li .desSelectionButton {
  width: 11rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
  background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm ol li .desSelectionButton figure {
  padding: 0.5rem;
  display: flex;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm ol li .desSelectionButton figure img {
  width: 3rem;
  height: 3rem;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm ol li .desSelectionButton figure figcaption {
  margin-left: 0.1rem;
  font-size: 0.8rem;
  text-align: left;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm ol li .desSelectionButton figure figcaption div {
  text-align: center;
  font-weight: 1000;
}

#mainGame #monitor #pkmSelection #selectedBox #selectedPkm ol li .desSelectionButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
}

.fireType {
  border: 1px solid black;
  background-color: #df5900;
  width: 5rem;
  border-radius: 5px;
}

.grassType {
  border: 1px solid black;
  background-color: #27df27;
  width: 5rem;
  border-radius: 5px;
}

.iceType {
  border: 1px solid black;
  background-color: #79fff4;
  width: 5rem;
  border-radius: 5px;
}

.waterType {
  border: 1px solid black;
  background-color: #00aeff;
  width: 5rem;
  border-radius: 5px;
}

.bugType {
  border: 1px solid black;
  background-color: #bbff1b;
  width: 5rem;
  border-radius: 5px;
}

.poisonType {
  border: 1px solid black;
  background-color: #cc5df8;
  width: 5rem;
  border-radius: 5px;
}

.electricType {
  border: 1px solid black;
  background-color: #ffe600;
  width: 5rem;
  border-radius: 5px;
}

.groundType {
  border: 1px solid black;
  background-color: #ad8d47;
  width: 5rem;
  border-radius: 5px;
}

.rockType {
  border: 1px solid black;
  background-color: #663f20;
  width: 5rem;
  border-radius: 5px;
}

.fairyType {
  border: 1px solid black;
  background-color: #fb7eff;
  width: 5rem;
  border-radius: 5px;
}

.normalType {
  border: 1px solid black;
  background-color: #b3a8a8;
  width: 5rem;
  border-radius: 5px;
}
